<!DOCTYPE html SYSTEM
        "https://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/fragments :: head}"></head>
<body>
<a th:href="@{/showNewDrinkForm}" class="btn btn-primary btn-sm mb-3">Add New Drink</a>

<table border="1" class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Company</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="drink : ${drinks}">
        <td th:text="${drink.name}"></td>
        <td th:text="${drink.price}"></td>
        <td th:text="${drink.company}"></td>
        <td th:text="${drink.type}"></td>
        <td>
            <a class="btn btn-danger" th:href="@{'/updateDrink/' + ${drink.id}}">Update</a>
            <a class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>